#one{
    height:100px
    Width = 100px;
    background-color:pink;
    border-color: black;
    border-radius:10px;
    padding-left: 50px;

}
#two{
    height:100px
    width=100px;
    background-color:pink ;
    border-color: black;
    border-radius: 25px;
    padding-left: 50px;

}